@import "tailwindcss";

@theme {
  --color-title: #edf2f4;
  --color-subdomain: #ffc53a;
  --color-footer: #16191c;
  --color-text: #cddbe1;
  --color-subtle: #9eb9c4;
  --color-subtitle: #8eadba;

  --color-limed-spruce-50: #f4f6f7;
  --color-limed-spruce-100: #e2e8eb;
  --color-limed-spruce-200: #c8d3d9;
  --color-limed-spruce-300: #a1b4bf;
  --color-limed-spruce-400: #748e9c;
  --color-limed-spruce-500: #587282;
  --color-limed-spruce-600: #4c5f6e;
  --color-limed-spruce-700: #42505c;
  --color-limed-spruce-800: #3b454f;
  --color-limed-spruce-900: #373f47;
  --color-limed-spruce-950: #20262c;
  --color-limed-spruce: #373f47;

  --flex-grow-2: 2;
  --flex-grow-3: 3;
  --flex-grow-4: 4;

  --breakpoint-3xl: 1600px;
}

@utility link-internal {
  font-style: normal;
  text-decoration: none;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 1px;
  transition:
    color 150ms ease,
    text-decoration-color 150ms ease;
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

@utility link-external {
  font-style: italic;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 1px;
  transition:
    color 150ms ease,
    text-decoration-color 150ms ease;
  &:hover {
    color: #fff;
  }
  /* only add external icon link for non-icon links */
  &:not(:has(svg))::after {
    content: "";
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    margin-left: 0.15em;
    background-color: currentColor;
    -webkit-mask-image: url("lucide-static/icons/external-link.svg");
    mask-image: url("lucide-static/icons/external-link.svg");
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }
}
