---
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import Three from "../layouts/Three.astro";
import { colord } from "colord";

const lightColors = {
  a: "#4A4063",
  b: "#C6D4FF",
  c: "#C83E4D",
  d: "#D58936",
  e: "#44BBA4",
};

const lightModePalette = {
  title: lightColors.a,
  subdomain: "gray",
  bg: lightColors.b,
  header: lightColors.b,
  card: lightColors.b,
  text: "black",
  subtitle: "black",
};

const darkColors = {
  a: "#373F47",
  b: "#EDF2F4",
  c: "#D1462F",
  d: "#939F5C",
  e: "#FFC53A",
};
const darkModePalette = {
  title: darkColors.b,
  subdomain: darkColors.e,
  bg: darkColors.a,
  header: colord(darkColors.a).lighten(0.05).toHex(),
  card: colord(darkColors.a).lighten(0.05).toHex(),
  text: colord(darkColors.b).darken(0.1).toHex(),
  subtitle: colord(darkColors.b).darken(0.3).toHex(),
};
const palette = true ? darkModePalette : lightModePalette;
---

<Layout title="home | barlo">
  <div style={{ backgroundColor: palette.bg, color: palette.text }}>
    <div class="flex min-h-screen flex-col leading-relaxed">
      <Header
        backgroundColor={palette.bg}
        titleColor={palette.title}
        subdomainColor={palette.subdomain}
      />
      <Three>
        <div style={{ height: 1000 }}>
          <h2 class="text-2xl">recent</h2>
        </div>
      </Three>
    </div>
  </div>
</Layout>
