---
import projects from "../../projects";

export function getStaticPaths() {
  return projects.map((project) => ({ params: { project: project.id } }));
}

const { project } = Astro.params;
---

<div>{project}</div>
