---
import Footer from "../../layouts/Footer.astro";
import Header from "../../layouts/Header.astro";
import Layout from "../../layouts/Layout.astro";
import Three from "../../layouts/Three.astro";
import {
  getPostHeadingId,
  getPostTitle,
  getProjectSlugFromSlug,
  getPublishedProjects,
} from "../../utils";
import ProjectPost from "../../layouts/ProjectPost.astro";
import { isNil, compact } from "lodash-es";
import { projectIndexSchema } from "../../schemas";
import { render } from "astro:content";

export const getStaticPaths = async () => {
  const projects = await getPublishedProjects(
    ({ data }) => data.isIndex === true,
  );
  return compact(
    projects.map((project) => {
      const projectId = getProjectSlugFromSlug(project.id);
      if (isNil(projectId)) return null;
      return { params: { projectId } };
    }),
  );
};

const { projectId } = Astro.params;

const projectEntries = await getPublishedProjects(({ id }) =>
  id.startsWith(projectId),
);

const indexEntry = projectEntries.find((entry) => entry.data.isIndex === true);
const IndexContent = isNil(indexEntry)
  ? null
  : (await render(indexEntry)).Content;

// appease TS
const indexParseRes = projectIndexSchema.safeParse(indexEntry?.data);
const indexEntyLabel = indexParseRes.success ? indexParseRes.data.label : "";

const projectPosts = projectEntries.filter(({ data }) => data.isIndex !== true);
---

<Layout title="garage | barlo">
  <div class="bg-limed-spruce text-text">
    <div class="flex min-h-screen flex-col leading-relaxed">
      <Header />
      <Three>
        <a href="/garage" class="pb-4 no-underline hover:underline">← back</a>
        <h2 class="text-xl">Project: {indexEntyLabel}</h2>
        <div>
          {IndexContent && <IndexContent />}
        </div>
        {
          projectPosts.length > 0 && (
            <>
              <hr class="mt-2 mb-2" />
              <div class="flex grow basis-0 flex-col gap-2 pb-20 2xl:flex-row-reverse 2xl:items-start 2xl:gap-5">
                <div class="sticky top-28 border bg-limed-spruce-700 p-2 sm:top-20 2xl:w-60">
                  {projectPosts.map((post) => (
                    <div>
                      <a
                        class="no-underline hover:underline"
                        href={`#${getPostHeadingId(post)}`}
                      >
                        {getPostTitle(post)}
                      </a>
                    </div>
                  ))}
                </div>
                <div class="grow basis-0">
                  {projectPosts.map((post, i) => (
                    <>
                      {i > 0 && <hr class="mt-5 mb-4" />}
                      <ProjectPost post={post} />
                    </>
                  ))}
                </div>
              </div>
            </>
          )
        }
      </Three>
      <Footer />
    </div>
  </div>
</Layout>

<style>
  body,
  html {
    scroll-padding-top: 20%;
  }
</style>
