---
import "@fontsource/barlow-semi-condensed/100.css";
import "@fontsource/barlow-semi-condensed/200.css";
import "@fontsource/barlow-semi-condensed/300.css";
import "@fontsource/barlow-semi-condensed/400.css";
import "@fontsource/barlow-semi-condensed/500.css";
import "@fontsource/barlow-semi-condensed/600.css";
import "@fontsource/barlow-semi-condensed/700.css";
import "@fontsource/barlow-semi-condensed/800.css";
import "@fontsource/barlow-semi-condensed/900.css";
import "@fontsource/barlow-semi-condensed/200-italic.css";
import "@fontsource/barlow-semi-condensed/400-italic.css";

interface Props {
  title: string;
  overflowColor: string;
}

const { title, overflowColor } = Astro.props;
---

<!doctype html>
<html lang="en" style={{ backgroundColor: overflowColor }}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-size: 20px;
    font-family:
      Barlow Semi Condensed,
      sans-serif;
  }
  a.hyper {
    font-style: italic;
    text-decoration: underline;
  }
  a.hyper:hover {
    color: #fff;
  }
</style>
