---
import moment from "moment";
import Quiet from "../components/Quiet";
import type { MarkdownInstance } from "astro";
import { getPostHeadingId, getPostTitle } from "../utils";
import type { ProjectEntryFrontmatter } from "../types";

interface Props {
  post: MarkdownInstance<ProjectEntryFrontmatter>;
}

const { post } = Astro.props;

// TODO change frontmatter parser to assume local time
const created = post.frontmatter.created.toLowerCase().replace("z", "");
const lastUpdated = post.frontmatter["last-updated"]
  .toLowerCase()
  .replace("z", "");
---

<article class="post">
  <div class="flex justify-between items-end pb-2">
    <h3 class="text-lg" id={getPostHeadingId(post)}>
      {getPostTitle(post)}
    </h3>
    <span>
      {moment(created).format("MMM D, YYYY")}
      {
        moment(created).toISOString() !== moment(lastUpdated).toISOString() && (
          <Quiet>
            ({`Last updated: ${moment(lastUpdated).format("MMM D, YYYY")}`})
          </Quiet>
        )
      }
    </span>
  </div>
  <post.Content />
</article>

<style>
  .post :global(p) {
    @apply leading-snug;
    @apply pb-3;
  }
  .post :global(img) {
    @apply m-auto;
  }
</style>
