<div class="grow gap-5 p-5 sm:flex sm:basis-0 sm:items-stretch">
  <div class="sm:grow-0 xl:flex-1"><slot name="left" /></div>
  <div class="sm:grow sm:basis-0 xl:grow-3 flex flex-col">
    <slot />
  </div>
  <div class="sm:grow-0 xl:flex-1"><slot name="right" /></div>
</div>
