<div class="grow gap-5 p-5 sm:flex sm:basis-0 sm:items-stretch">
  <div class="sm:grow sm:basis-0"><slot name="left" /></div>
  <div class="2xl:grow-3 md:grow-2 flex flex-col sm:grow sm:basis-0">
    <slot />
  </div>
  <div class="sm:basis-0 xl:grow"><slot name="right" /></div>
</div>
